<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>500 error</title>

  <link rel="stylesheet" href="/stylesheets/home.css" />

</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>